* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1919px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}